<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Css Stylesheet -->
    <link rel="stylesheet" href="style.css" />

    <!-- unicons -->
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"
    />

    <!-- favicon -->
    <link rel="icon" href="C:\Users\risha\Documents\Ontario Tech University\Year 3\Software_Quality_Project\Deliverable_2\Favicon.png" />

    <!-- script tag -->
    <script defer src="/JS/script.js"></script>

    <!-- ScrollReveal -->
    <script src="https://unpkg.com/scrollreveal"></script>

    <!-- swiper js -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper@8/swiper-bundle.min.css"
    />
    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>

    <!-- Title -->
    <title>Fly Good</title>
  </head>
  <body>
    <!-- Showcase -->
    <main class="main" id="home">
      <!-- Header -->
      <header class="header">

        <!-- navbar -->
        <nav class="navbar">
          <ul class="navlists">
            <li class="navlist"><a href="#home">Home</a></li>
            <li class="navlist"><a href="flights">Book a Flight</a></li> <!-- Change href -->
        </nav>
      </header>

      <!-- showcase-content -->
      <div class="showcase-content">
        <h1>Discover the most engaging places</h1>
        <a href="https://earth.google.com/web/" target="_blank" class="showcase-button">
          <img src="C:\Users\risha\Documents\Ontario Tech University\Year 3\Software_Quality_Project\Deliverable_2\globe.png" alt="" /> Discover on 3D globe</a
        >
      </div>

      <!-- showcase-search -->
      <div class="showcase-search">
        <div class="filters">
          <div class="filter">
            <div class="search-icon">
              <img src="C:\Users\risha\Documents\Ontario Tech University\Year 3\Software_Quality_Project\Deliverable_2\location.png" alt="" />
            </div>
            <div class="search-text">
              
              <h2>Departure Location </h2>
            </div>
          </div>
          <div class="filter">
            <div class="search-icon">
              <img src="C:\Users\risha\Documents\Ontario Tech University\Year 3\Software_Quality_Project\Deliverable_2\location.png" alt="" />
            </div>
            <div class="search-text">
              
              <h2>Arrival Location</h2>
            </div>
          </div>
          <div class="filter">
            <div class="search-icon">
              <img src="C:\Users\risha\Documents\Ontario Tech University\Year 3\Software_Quality_Project\Deliverable_2\calendar.png" alt="" />
            </div>
            <div class="search-text">
              
              <h2>Chose a date</h2>
            </div>
          </div>
          <div class="filter">
            <div class="search-icon">
              <img src="C:\Users\risha\Documents\Ontario Tech University\Year 3\Software_Quality_Project\Deliverable_2\guest.png"alt="" />
            </div>
            <div class="search-text">
              
              <h2>1 guest</h2>
            </div>
          </div>
        </div>
        <div class="search-button-icon">
          <img src="C:\Users\risha\Documents\Ontario Tech University\Year 3\Software_Quality_Project\Deliverable_2\search.svg" alt="" />
        </div>
      </div>
    </main>
  

    <!-- Tours/Travel -->
    <section id="tours">
      <div class="container">
        <div class="title-container">
          <h2 class="section-title"> Travel Tips and Advice</h2>
        </div>
        <div class="tours-cards">

          <div class="tours-card">
            <div class="tour-img">
              <img src="C:\Users\risha\Documents\Ontario Tech University\Year 3\Software_Quality_Project\Deliverable_2\luggage.jpg" alt="" width="320" height="380">
            </div>
            <div class="tours-card-content">
              <div class="tours-card-contents-text">
                <h3>Carry Luggage as per the restrictions</h3>
                <p>Always look for the luggage restrictions for all the flights. Some flights may provide less luggage capacity than others!</p>
              </div>
            </div>
          </div>

          <div class="tours-card">
            <div class="tour-img">
              <img src="C:\Users\risha\Documents\Ontario Tech University\Year 3\Software_Quality_Project\Deliverable_2\passport.jpg" alt="" width="320" height="380">
            </div>
            <div class="tours-card-content">
              <div class="tours-card-contents-text">
                <h3>Get all your documents ready</h3>
                <p>Before leaving for airport, confirm twice if all your documents are in place. For any reason, if you do not have a passport you won't be able to get onto the flight. </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


    <!-- about -->
    <section id="About">
      <div class="about-content">
        <h2>About Us</h2>
        <p>
          Fly Good lets you book flights fast and with upmost ease. The company has been offering services since 2023. The company was founded because of a final project in the third year of 4 to-be Software Engineers.
        </p>
      </div>

      <div class="about-img">
        <img src="C:\Users\risha\Documents\Ontario Tech University\Year 3\Software_Quality_Project\Deliverable_2\About.jpg"alt="" width="556" height="488">
      </div>
    </section>

    <!-- footer -->
    <footer>
      <div class="container">
        <div class="footer-sections">
          <div class="footer-section">
            <p>We always make our customers happy by providing as many choises as possible</p>
            <h3>Copyright to RKTK</h3>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>